<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
<link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

{% if page.title != "Dashboard" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
{% endif%}

{% if page.title != "Dashboard" %}
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
  {% else %}
  <link rel="stylesheet" href="{{ site.baseurl }}/lib/font-awesome/css/font-awesome.min.css">
  {% endif%}
  
  {% if page.title == "Signin" or page.title == "Signup" or page.title == "Dashboard" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/lib/bootstrap/dist/css/bootstrap.css">
  {% endif%}
  
  {% if page.title == "Dashboard" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/dashboard.css">
  {% endif%}

  
</head>
