<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

{% if page.title != "Dashboard" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
{% endif%}

  {% if page.title == "Signin" or page.title == "Signup" or page.title == "Dashboard" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/lib/bootstrap/dist/css/bootstrap.min.css">
  {% endif%}
  {% if page.title == "Dashboard" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/dashboard.css">
  {% endif%}

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>

  {% if page.title != "Dashboard" %}
  <script src="//load.sumome.com/" data-sumo-site-id="64c3597e2b3209c5b7722863d619c61e819ff91686e03193a97cedb3e85dee7c" async="async"></script>
  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '46b8a746-2059-4649-878d-bed22663e92e', f: true }); done = true; } }; })();</script>
  {% endif%}
</head>
