<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/custom/site-form-triggers.js"></script>

{% if page.type == "Home" %}
<script src="/lib/custom/home-accordion-tabs.js"></script>
{% endif %}

{% if page.path contains '_posts' %}
<script src="/lib/custom/readingTime.js"></script>
<script>
$('article').readingTime();
</script>
{% else %}
{% endif %}

<!-- Firebase SDK -->
{% if page.title == "Signin" or page.title == "Signup" or page.title == "Dashboard" %}

<script src="{{ site.baseurl }}/lib/firebase/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAxwktdjnDAEFOJEYW9w1iNpPusQwcgsgw",
    authDomain: "startupers-9cbb6.firebaseapp.com",
    databaseURL: "https://startupers-9cbb6.firebaseio.com",
    storageBucket: "startupers-9cbb6.appspot.com",
    messagingSenderId: "932310778783"
  };
  firebase.initializeApp(config);
</script>
{% endif %}
<!-- End Firebase -->

{% if page.title == "Signup" %}
<script src="{{ site.baseurl }}/admin/signup.js"></script>
{% endif %}
{% if page.title == "Signin" %}
<script src="{{ site.baseurl }}/admin/signin.js"></script>
{% endif %}
{% if page.title == "Dashboard" %}
<script src="{{ site.baseurl }}/admin/functions.js"></script>
<script src="{{ site.baseurl }}/admin/dashboard.js"></script>
{% endif %}

{% if page.title == "Pricing" %}
<script src="{{ site.baseurl }}/lib/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
</script>	
{% endif %}

{% if page.title == "Signin" or page.title == "Signup" or page.title == "Dashboard" %}
<script src="{{ site.baseurl }}/lib/bootstrap/dist/js/bootstrap.min.js"></script>
{% endif %}

{% if page.type != "Home" %}
<script src="/lib/custom/post-scroll-triggers.js"></script>
{% endif %}

{% if page.title != "Dashboard" %}
  <script src="//load.sumome.com/" data-sumo-site-id="64c3597e2b3209c5b7722863d619c61e819ff91686e03193a97cedb3e85dee7c" async="async"></script>
  <!-- <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '46b8a746-2059-4649-878d-bed22663e92e', f: true }); done = true; } }; })();</script>-->
  <script src="https://embed.small.chat/T04PM7WUFG528ZTL7Q.js" async></script>
{% endif%}

{% if site.analytics_id %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', '{{ site.analytics_id }}', 'auto');
 ga('send', 'pageview');
</script>
{% endif %}

