
.home {
  margin-top: -3rem; // fixed header not include in home page 
}

.mini-intro {
  max-width: 100%;
  padding-bottom: 4rem;

  h1, p {
    max-width: 75%;
    float: left;
    padding-right: .5rem;
  }

  h1 { 
    border-bottom: 1px dashed $border-color;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    color: $gray-4; 
    a:hover, a:visited {
    color: inherit;
    }
  }

  p {
     a { color: $base-link-color !important; }
  }
  
  .avatar {
    float: right;
    max-width: 25%;
    border: 3px solid $img-border-color;
    @include box-shadow(1px -1px 6px 1px $img-shadow-color);
    @include border-radius(15%);
    margin-bottom: 1rem;
  }
}


.featured-posts {
  display: block;

  .post {
    margin-bottom: -1rem; //undo default post margin 
    a { 
      color: $gray-5 !important;
      &:visited { color: $visited-link-color !important; }
    }
  }

  .see-archives  { 
    color: $gray-2;
    font-size: 1.25rem; 
    text-decoration: underline;
  }
}

.img-rounded {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.featured-projects {
  ul {
    padding-left: 0;
  }
  
  ul ul {
    margin-top: -.4rem;
      padding-left: 1rem;
  }
}

  .gumroad-follow-form-embed {
    zoom: 1; }
    .gumroad-follow-form-embed:before, .gumroad-follow-form-embed:after {
      display: table;
      line-height: 0;
      content: ""; }
    .gumroad-follow-form-embed:after {
      clear: both; }
    .gumroad-follow-form-embed * {
      margin: 0;
      border: 0;
      padding: 0;
      outline: 0;
      box-sizing: border-box !important;
      float: left !important; }
    .gumroad-follow-form-embed input {
      border-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 20px;
      background: #fff;
      border: 1px solid #ddd;
      border-right: 0;
      color: #aaa;
      padding: 10px;
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
      background-position: top right;
      background-repeat: no-repeat;
      text-rendering: optimizeLegibility;
      font-smoothing: antialiased;
      -webkit-appearance: none;
      -moz-appearance: caret;
      width: 65% !important;
      height: 40px !important; }
    .gumroad-follow-form-embed button {
      border-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
      -webkit-transition: all .05s ease-in-out;
      transition: all .05s ease-in-out;
      display: inline-block;
      padding: 11px 15px 12px;
      cursor: pointer;
      color: #fff;
      font-size: 15px;
      line-height: 100%;
      font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
      background: #030000;
      border: 1px solid #030000;
      filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#292626, endColorstr=#030000, GradientType=0)";
      background: -webkit-linear-gradient(top, #292626, #030000);
      background: linear-gradient(to bottom, #292626, #030000);
      height: 40px !important;
      width: 35% !important; }


